/* 
---------------------------------------------------------
Voici la première page, page principal du site Spaven.com

---------------------------------------------------------

*/


/*Les règles générales */

:root{
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #1A1C19;
    --bg-primary: #D1FFC3;
    --bg-secondary: #FFFFFF;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}


body{
    color: black;
    background-color: white;
    margin: 0 auto;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: black;
}

/*Disposition du site : */

header{
    position: fixed;
    top: 0;
    background-color: var(--bg-primary);
    min-height: 120px;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--bg-primary);
    min-height: 10vh;
}

main {
    padding : 5vh 0px 5vh 0px;
    margin : 0 auto;
}

@media (max-height:1440px){
    footer {position: static;}
    header {position: static;}
}


/*On définit le style de notre bandeau d'en-tête ici : */


/* Mise en forme class tete */
.tete {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    margin-top: 0px;
}

.tete h1 {
    font-size : 20px;
    padding-top: 0;
}

.tete .pre-navbar .slogan {
    text-align: left;
}


.tete li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0px 10px 0px 0px;
}

.tete li a{
    text-decoration: none;
    color: var(--text-primary);
    transition: all 0.2s ease 0s;
}


.tete li a:hover{
    color: lime;
}


/*paufine classe slogan res-sociaux */

.slogan {
    padding-left: 40vw;
}

.res-sociaux {
    float : right;
}

/*Paufine pre-navbar*/

.pre-navbar {
    width: 100%;
    height: 50px;
}

.pre-navbar .slogan, .pre-navbar .res-sociaux {
    display: inline-block;
    vertical-align: top;
}

/*paufin navbar */

.navbar {
    padding-top : 1vh;
    width: 100%;
}


.navbar .logo { 
    display: inline-block;
    vertical-align: top;
    padding-left : 2vw;
}

.navbar button {
    float: right;
}

.navbar button:hover {
    color: lime;
}

.navbar a:not(:first-child) {
    text-decoration: none;
    color: var(--text-primary);
    transition: all 0.2s ease 0s;
    float: right;
    padding: 0px 10px 0px 10px;
}

.navbar a:hover {
    color: lime;
}

.navbar .icon {
    display: none;
}

/*Définit le main : */

#recherche {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
    background-color : #ddd;
}

#menu {
    display : none;
    background-color : #b6eaa5;
}

.liste-menu {
    width: 100%;
    font-size : 18px;
    padding : 11px;
    border: 1px solid #ddd;
    list-style-type : none;
    margin: 0;
    color : #aaa;
}

.liste-menu li a {
    text-decoration : none;
    color: black;
    display: block;
}

.liste-menu a:hover {
    background-color: #eee;
}

.inutile {
    display : none;
}

.tab {
    display : grid;
    grid-template-columns: repeat(10, 110px);
    grid-template-rows: repeat(5, 40px);
    padding : 0px 50px 0px 50px;
}

.image1 {
    grid-column : 1 / 2;
    grid-row: 1;
}

.nom1 {
    grid-column : 1;
    grid-row: 5;
}

.prix1 {
    grid-column : 2;
    grid-row : 5;
}

.image2 {
    grid-column : 3 / 4;
    grid-row: 1;
}

.nom2 {
    grid-column : 3;
    grid-row: 5;
}

.prix2 {
    grid-column : 4;
    grid-row : 5;
}

.image3 {
    grid-column : 5 / 6;
    grid-row: 1;
}

.nom3 {
    grid-column : 5;
    grid-row: 5;
}

.prix3 {
    grid-column : 6;
    grid-row : 5;
}

.image4 {
    grid-column : 7 / 8;
    grid-row: 1;
}

.nom4 {
    grid-column : 7;
    grid-row: 5;
}

.prix4 {
    grid-column : 8;
    grid-row : 5;
}

.image5 {
    grid-column : 9 / 10;
    grid-row: 1;
}

.nom5 {
    grid-column : 9;
    grid-row: 5;
}

.prix5 {
    grid-column : 10;
    grid-row : 5;
}



/*On définit le style de notre pied de page ici : */

.pied {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 50px 50px 60px 50px;
    margin-top: 100px;
}

.pied .Aide, .pied .Mon_compte, .pied .Boutique{
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.pied h5 {
    color: black;
    font-weight: 700;
    text-decoration: underline;
    margin: 0;
}

.pied ul {
    list-style: none;
    position: relative;
    text-align: left;
}

.pied li a{
    text-decoration: none;
    color: var(--text-primary);
    transition: all 0.2s ease 0s;
}

.pied li a:hover{
    color: lime;
}



/*On optimise la disposition par rapport à la taille de l'écran */


@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display:none;}
    .navbar a.icon {
	float: right;
	display: block;
    }
}

@media (max-width: 600px) {
    .pied .Aide, .pied .Mon_compte, .pied .Boutique{
	display: block;
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
    }


    .slogan {
	padding-left: 3vw;
    }


    .navbar.opti {
	position: relative;
    }
    .navbar.opti .icon {
	position: absolute;
	right: 0;
	top: 0;
	transform: rotate(-90deg);
    }
    .navbar.opti a {
	float: none;
	display: block;
	text-align: left;
	background-color: var(--bg-primary);
    }
}

